<template>
  <div v-if="type === 'editable'" class="w-full lg:max-w-full lg:flex">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
      style="background-image: url('http://placekitten.com/g/200/300');"
      title="Reference image for this thing you did."
    ></div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-auto flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="title"
            >
              Finished Goal:
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="title"
              type="text"
              placeholder="What Goal Did You Achive?"
              v-model="title"
            />
          </div>
        </div>
        <div class="text-gray-900 font-bold text-xl mb-2">
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="goal"
            >
              Add more background detail:
            </label>
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="goal"
              placeholder="Do you want to add some information to reflect on?"
              v-model="goal"
            />
          </div>
        </div>
        <div class="text-gray-900 font-bold text-xl mb-2">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="tag">
              Tag what's done:
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="tag"
              placeholder="Relate other done items together"
              v-model="tagInput"
            />
          </div>
        </div>
      </div>
      <div class="flex items-center justify-around">
        <div class="text-sm flex-none">
          <p class="text-gray-600">{{ datetime }}</p>
        </div>
        <button
          class="flex-grow ml-4 bg-transparent hover:bg-primary-100 text-primary-100 font-semibold hover:text-white py-2 px-4 border border-primary-100 hover:border-transparent rounded"
          @click="newDone"
        >
          Done
        </button>
      </div>
    </div>
  </div>

  <div v-else-if="type === 'horizontal'" class="w-full lg:max-w-full lg:flex">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
      style="background-image: url('http://placekitten.com/g/200/300');"
      title="Woman holding a mug"
    ></div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">{{ title }}</div>
        <p class="text-gray-700 text-base">{{ goal }}</p>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-600">{{ datetime }}</p>
        </div>
      </div>
    </div>
  </div>

  <div v-else class="max-w-sm rounded overflow-hidden shadow-lg">
    <img
      class="w-full"
      src="http://placekitten.com/g/400/250"
      alt="Sunset in the mountains"
    />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ title }}</div>
      <p class="text-gray-700 text-base">{{ goal }}</p>
    </div>
    <div class="w-full flex justify-center">
      <p class="text-sm text-gray-600">{{ datetime }}</p>
    </div>
    <div class="px-6 py-4 flex justify-between -mr-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
        v-for="tag in tags"
      >
        #{{ tag }}
      </span>
    </div>
  </div>
</template>
<script>
import { computed } from 'vue'

export default {
  props: {
    type: {
      type: String,
      default: 'horizontal',
      validate: (option) =>
        ['horizontal', 'small', 'editable'].includes(option),
    },
    title: {
      type: String,
      default: '',
    },
    goal: {
      type: String,
      default: '',
    },
    datetime: {
      type: Date,
      default: new Date(),
    },
    tags: {
      type: Set,
      default: new Set(),
    },
  },
  setup(props, { emit }) {
    const title = props.title
    const goal = props.goal
    const datetime = props.datetime
    const tags = props.tags

    const tagInput = ''

    function newDone() {
      emit('newDone', {
        title: this.title,
        goal: this.goal,
        datetime: new Date(),
        tags: new Set(this.tagInput.replace('#', '').split(' ')),
      })
      this.title = null
      this.goal = null
      this.tagInput = null
    }

    return {
      title,
      goal,
      datetime,
      tags,
      tagInput,
      newDone,
    }
  },
}
</script>

<style scoped>
label {
  font-family: theme('fontFamily.title');
}
</style>
