<template>
  <nav class="flex item-center justify-between flex-wrap bg-primary-100 p-6">
    <div class="mr-4">
      <h1 class="text-6xl font-display text-primary-600">Vandaag Gedaan</h1>
      <h2 class="text-4xl font-display text-primary-400">
        Done Today
      </h2>
    </div>
    <ul class="flex lg:items-center text-primary-700">
      <li v-for="{ name, path, desc } in routes" :key="path" class="mr-4">
        <a :href="path" :title="desc">{{ name }}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data: () => ({
    routes: [
      {
        name: 'History',
        path: '#history',
        desc: "See an overview of everything you've done.",
      },
      {
        name: 'Tags',
        path: '#',
        desc: "Choose from a selection of tags you've used",
      },
      {
        name: 'Relations',
        path: '#',
        desc: 'Links between done items so you can see progress',
      },
    ],
  }),
}
</script>

<style scoped></style>
